.App {
  text-align: center;
  font-family: Calibri;
}

#map
{
    height: 70vh;
    width: 70vw;
    margin: 0 auto;
    border-radius: 25px;
    border: 1px solid black;
    font-family: Calibri;
}

.searchbar
{
  margin: 0.5%;
  font-family: Calibri;
}

.favouritesbutton
{
  margin: 0.5%;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
  font-family: Calibri;
}

.popupbutton
{
  margin: 0 10px;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
  font-family: Calibri;
}

body
{
    color: white;
    text-align: center;
    background-color: #1c3d4a; /* #162d38 #1c3d4a */ 
}

.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  cursor: pointer;
  font-family: Calibri;
}
